.fluxosTitle {
  color: #cc0000;
  font-size: 2.5rem;
  margin-bottom: 2rem;  /* Remove margens externas */
  text-align: left; /* Alinha o texto à esquerda */
}

.sumarioTitle {
  font-size: 2rem;
}

.sumarioFluxos {
  text-align: left;
}

.table-of-contents {
  border: #c3c3c3 solid 1px;
  padding: 1rem;
}
